<div class="panel-group" id="{{panelId}}">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a ng-click="toggleCollapsedStates($index)" href="#Consulta" style="cursor: pointer">
					Consulta proveedores
				</a>
            </h4>
        </div>

    </div>
    <div class="panel panel-default">

        <div class="panel-heading">
            <h4 class="panel-title">
                <a ng-click="toggleCollapsedStates($index)" href="#Registro" style="cursor: pointer">
					Registro proveedores
				</a>
            </h4>
        </div>

    </div>

</div>