<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>LOGIN</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
    <link rel="stylesheet" href="/components/bootstrap-css-only/css/bootstrap.min.css" />
    <script type="text/javascript" src="/components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <form class="navbar-form navbar-right" th:action="@{/registration}" method="get">
        <button class="btn btn-sm btn-primary btn-block" type="Submit">
            Registro usuarios
            <span class="glyphicon glyphicon-user"></span>
        </button>
    </form>
    <br />
    <br />
    <div class="container text-center">
        <form th:action="@{/login}" method="POST" class="form-signin">
            <h3 class="form-signin-heading" th:text="Bienvenido"></h3>
            <br/>

            <input type="text" id="email" name="email" th:placeholder="Usuario" class="form-control" /> <br/>
            <input type="password" th:placeholder="Contraseña" id="password" name="password" class="form-control" /> <br />

            <div align="center" th:if="${param.error}">
                <p style="font-size: 20; color: #FF1C19;">Usuario o contraseña invalida, Favor de verificar.</p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Entrar"></button>
        </form>
    </div>
</body>

</html>